.custom-file-upload {
  position: relative;
  display: inline-block;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload button {
  cursor: pointer;
}

label.form-label {
  position: absolute;
}

.userDetails {
  border: 1px solid;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  // Add more styles here for the button appearance
}


//.img-container {
//  width: 200px; /* Fixed width */
//  height: 200px; /* Fixed height */
//  overflow: hidden;
//}
//
//.img-container img {
//  width: 100%; /* Make the image fill the container */
//  height: 100%; /* Make the image fill the container */
//  object-fit: contain; /* Maintains aspect ratio and fits entire image within the container */
//}
