.custom-file-upload {
  position: relative;
  display: inline-block;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload button {
  cursor: pointer;
}

label.form-label {
  position: absolute;
}

.userDetails {
  border: 1px solid;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
}

.card-container {
    perspective: 1000px;
    //height: 100vh; //Full height to maintain centering vertically
    display: flex;
    justify-content: center; //Center horizontally
    align-items: center; //Center vertically
    background-color: #f7f7f7;
    padding: 20px; //Add some padding
}

.card {
    max-width: 90%; //Max width to prevent it from being too wide on landscape
    margin: auto; //Auto margins for centering
    transform-style: preserve-3d; //Enable 3D transformations
    transition: transform 0.5s; //Smooth transition for the transform
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); //Add some shadow for depth
}

.card-image img {
    width: 100%; //Make the image fill the container
    display: block;
    max-height: 65vh; //Maximum height to maintain aspect ratio
    object-fit: cover; //Ensure the image covers the area without distortion
}

.card-content {
    padding: 20px;
    background-color: white;
}

.like-section {
    margin-bottom: 10px;
}

//Responsive layout adjustments for landscape mode
@media screen and (orientation: landscape) {
    .card-container {
        flex-direction: row; //Cards side by side
        align-items: flex-start; //Align to the top
    }

    .card {
        width: auto; //Auto width for landscape
        height: auto; //Adjust height automatically
    }

    .card-image img {
        max-height: 100%; //Image should not exceed its container height
    }
}

