.custom-file-upload {
  position: relative;
  display: inline-block;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload button {
  cursor: pointer;
}

label.form-label {
  position: absolute;
}

.userDetails {
  border: 1px solid;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  // Add more styles here for the button appearance
}
