.firstPlace {
  color: rgba(0, 0, 0, 0.72);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow:
          2px 2px 0.5em rgba(122, 98, 0, 0.55),
          inset 1px 1px 0 rgba(255, 255, 255, 0.9),
          inset -1px -1px 0 rgba(0, 0, 0, 0.34);
  border: 1px solid #deca73;
  position: relative;
  top: -1.2rem;
  background:
          -moz-linear-gradient(
                          -72deg,
                          #ffde45,
                          #ffffff 16%,
                          #ffde45 21%,
                          #ffffff 24%,
                          #452100 27%,
                          #ffde45 36%,
                          #ffffff 45%,
                          #ffffff 60%,
                          #ffde45 72%,
                          #ffffff 80%,
                          #ffde45 84%,
                          #452100
          );
  background:
          -webkit-linear-gradient(
                          -72deg,
                          #ffde45,
                          #ffffff 16%,
                          #ffde45 21%,
                          #ffffff 24%,
                          #452100 27%,
                          #ffde45 36%,
                          #ffffff 45%,
                          #ffffff 60%,
                          #ffde45 72%,
                          #ffffff 80%,
                          #ffde45 84%,
                          #452100
          );
  background:
          -o-linear-gradient(
                          -72deg,
                          #ffde45,
                          #ffffff 16%,
                          #ffde45 21%,
                          #ffffff 24%,
                          #452100 27%,
                          #ffde45 36%,
                          #ffffff 45%,
                          #ffffff 60%,
                          #ffde45 72%,
                          #ffffff 80%,
                          #ffde45 84%,
                          #452100
          );
  background:
          linear-gradient(
                          -72deg,
                          #ffde45,
                          #ffffff 16%,
                          #ffde45 21%,
                          #ffffff 24%,
                          #452100 27%,
                          #ffde45 36%,
                          #ffffff 45%,
                          #ffffff 60%,
                          #ffde45 72%,
                          #ffffff 80%,
                          #ffde45 84%,
                          #452100
          );
}


.secondPlace {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow:
          2px 2px 0.5em rgba(122, 122, 122, 0.55),
          inset 1px 1px 0 rgba(255, 255, 255, 0.9),
          inset -1px -1px 0 rgba(0, 0, 0, 0.34)
;
  border: 1px solid #dedede;
  position: relative;
  top: -1.2rem;
  background:
          -moz-linear-gradient(
                          -72deg,
                          #dedede,
                          #ffffff 16%,
                          #dedede 21%,
                          #ffffff 24%,
                          #454545 27%,
                          #dedede 36%,
                          #ffffff 45%,
                          #ffffff 60%,
                          #dedede 72%,
                          #ffffff 80%,
                          #dedede 84%,
                          #a1a1a1
          );
  background:
          -webkit-linear-gradient(
                          -72deg,
                          #dedede,
                          #ffffff 16%,
                          #dedede 21%,
                          #ffffff 24%,
                          #454545 27%,
                          #dedede 36%,
                          #ffffff 45%,
                          #ffffff 60%,
                          #dedede 72%,
                          #ffffff 80%,
                          #dedede 84%,
                          #a1a1a1
          );
  background:
          -o-linear-gradient(
                          -72deg,
                          #dedede,
                          #ffffff 16%,
                          #dedede 21%,
                          #ffffff 24%,
                          #454545 27%,
                          #dedede 36%,
                          #ffffff 45%,
                          #ffffff 60%,
                          #dedede 72%,
                          #ffffff 80%,
                          #dedede 84%,
                          #a1a1a1
          );
  background:
          linear-gradient(
                          -72deg,
                          #dedede,
                          #ffffff 16%,
                          #dedede 21%,
                          #ffffff 24%,
                          #454545 27%,
                          #dedede 36%,
                          #ffffff 45%,
                          #ffffff 60%,
                          #dedede 72%,
                          #ffffff 80%,
                          #dedede 84%,
                          #a1a1a1
          );
}
.button-bronze {
  color: rgba(45, 00, 0, 0.55);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #dea173;
  box-shadow:
          2px 2px 0.5em rgba(122, 55, 34, 0.55),
          inset 1px 1px 0 rgba(255, 255, 255, 0.9),
          inset -1px -1px 0 rgba(0, 0, 0, 0.5)
;
  border: 1px solid #dea173;
  background:
          -moz-linear-gradient(
                          -72deg,
                          #ca7345,
                          #ffdeca 16%,
                          #ca7345 21%,
                          #ffdeca 24%,
                          #a14521 27%,
                          #ca7345 36%,
                          #ffdeca 45%,
                          #ffdeca 60%,
                          #ca7345 72%,
                          #ffdeca 80%,
                          #ca7345 84%,
                          #732100
          );
  background:
          -webkit-linear-gradient(
                          -72deg,
                          #ca7345,
                          #ffdeca 16%,
                          #ca7345 21%,
                          #ffdeca 24%,
                          #a14521 27%,
                          #ca7345 36%,
                          #ffdeca 45%,
                          #ffdeca 60%,
                          #ca7345 72%,
                          #ffdeca 80%,
                          #ca7345 84%,
                          #732100
          );
  background:
          -o-linear-gradient(
                          -72deg,
                          #ca7345,
                          #ffdeca 16%,
                          #ca7345 21%,
                          #ffdeca 24%,
                          #a14521 27%,
                          #ca7345 36%,
                          #ffdeca 45%,
                          #ffdeca 60%,
                          #ca7345 72%,
                          #ffdeca 80%,
                          #ca7345 84%,
                          #732100
          );
  background:
          linear-gradient(
                          -72deg,
                          #ca7345,
                          #ffdeca 16%,
                          #ca7345 21%,
                          #ffdeca 24%,
                          #a14521 27%,
                          #ca7345 36%,
                          #ffdeca 45%,
                          #ffdeca 60%,
                          #ca7345 72%,
                          #ffdeca 80%,
                          #ca7345 84%,
                          #732100
          );
}

.thirdPlace {
  color: rgba(45, 00, 0, 0.55);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #dea173;
  box-shadow:
          2px 2px 0.5em rgba(122, 55, 34, 0.55),
          inset 1px 1px 0 rgba(255, 255, 255, 0.9),
          inset -1px -1px 0 rgba(0, 0, 0, 0.5)
;
  border: 1px solid #dea173;
  position: relative;
  top: -1.2rem;
  background:
          -moz-linear-gradient(
                          -72deg,
                          #ca7345,
                          #ffdeca 16%,
                          #ca7345 21%,
                          #ffdeca 24%,
                          #a14521 27%,
                          #ca7345 36%,
                          #ffdeca 45%,
                          #ffdeca 60%,
                          #ca7345 72%,
                          #ffdeca 80%,
                          #ca7345 84%,
                          #732100
          );
  background:
          -webkit-linear-gradient(
                          -72deg,
                          #ca7345,
                          #ffdeca 16%,
                          #ca7345 21%,
                          #ffdeca 24%,
                          #a14521 27%,
                          #ca7345 36%,
                          #ffdeca 45%,
                          #ffdeca 60%,
                          #ca7345 72%,
                          #ffdeca 80%,
                          #ca7345 84%,
                          #732100
          );
  background:
          -o-linear-gradient(
                          -72deg,
                          #ca7345,
                          #ffdeca 16%,
                          #ca7345 21%,
                          #ffdeca 24%,
                          #a14521 27%,
                          #ca7345 36%,
                          #ffdeca 45%,
                          #ffdeca 60%,
                          #ca7345 72%,
                          #ffdeca 80%,
                          #ca7345 84%,
                          #732100
          );
  background:
          linear-gradient(
                          -72deg,
                          #ca7345,
                          #ffdeca 16%,
                          #ca7345 21%,
                          #ffdeca 24%,
                          #a14521 27%,
                          #ca7345 36%,
                          #ffdeca 45%,
                          #ffdeca 60%,
                          #ca7345 72%,
                          #ffdeca 80%,
                          #ca7345 84%,
                          #732100
          );
}

.button-platinum {
  color: rgba(0, 0, 0, 0.72);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow:
          2px 2px 0.5em rgba(122, 122, 122, 0.55),
          inset 1px 1px 0 rgba(255, 255, 255, 0.9),
          inset -1px -1px 0 rgba(0, 0, 0, 0.5)
;
  border: 1px solid #cacade;
  background:
          -moz-linear-gradient(
                          -72deg,
                          #dedeff,
                          #ffffff 16%,
                          #dedeff 21%,
                          #ffffff 24%,
                          #555564 27%,
                          #dedeff 36%,
                          #ffffff 45%,
                          #ffffff 60%,
                          #dedeff 72%,
                          #ffffff 80%,
                          #dedeff 84%,
                          #555564
          );
  background:
          -webkit-linear-gradient(
                          -72deg,
                          #dedeff,
                          #ffffff 16%,
                          #dedeff 21%,
                          #ffffff 24%,
                          #555564 27%,
                          #dedeff 36%,
                          #ffffff 45%,
                          #ffffff 60%,
                          #dedeff 72%,
                          #ffffff 80%,
                          #dedeff 84%,
                          #555564
          );
  background:
          -o-linear-gradient(
                          -72deg,
                          #dedeff,
                          #ffffff 16%,
                          #dedeff 21%,
                          #ffffff 24%,
                          #555564 27%,
                          #dedeff 36%,
                          #ffffff 45%,
                          #ffffff 60%,
                          #dedeff 72%,
                          #ffffff 80%,
                          #dedeff 84%,
                          #555564
          );
  background:
          linear-gradient(
                          -72deg,
                          #dedeff,
                          #ffffff 16%,
                          #dedeff 21%,
                          #ffffff 24%,
                          #555564 27%,
                          #dedeff 36%,
                          #ffffff 45%,
                          #ffffff 60%,
                          #dedeff 72%,
                          #ffffff 80%,
                          #dedeff 84%,
                          #555564
          );
}






//.bronze{  color: rgba(223,182,103,1);}
//.silver{  color: rgba(160,160,160,1);}
//.gold{  color: rgba(242,215,50,1);}
//
//.bronze{
//  background: linear-gradient(45deg,  rgba(223,182,103,1) 0%,rgba(249,243,232,1) 56%,rgba(231,192,116,1) 96%);
//}
//
//.bronze:before{
//  background: linear-gradient(135deg,  #d19c35 0%,#f7e6c5 50%,#e8b558 100%);
//  border: 1px solid #e6b86a;
//}
//
//.bronze:after{
//  background: linear-gradient(45deg,  rgba(223,182,103,1) 0%,rgba(249,243,232,1) 56%,rgba(231,192,116,1) 96%);
//  border-top: 1px solid rgba(255,255,255,0.3);
//  border-left: 1px solid rgba(255,255,255,0.3);
//  border-bottom: 1px solid rgba(209,156,53,0.3);
//  border-right: 1px solid rgba(209,156,53,0.5);
//  box-shadow: inset 0px 0px 2px 2px rgba(153, 106, 26, .05);
//}
//
//.bronze:hover:after{
//  background: linear-gradient(45deg,  rgba(223,182,103,1) 0%,rgba(249,243,232,1) 41%,rgba(231,192,116,1) 96%);
//  border-top: 1px solid rgba(255,255,255,0.3);
//  border-left: 1px solid rgba(255,255,255,0.3);
//  border-bottom: 1px solid rgba(209,156,53,0.3);
//  border-right: 1px solid rgba(209,156,53,0.5);
//  box-shadow: inset 0px 0px 2px 2px rgba(153, 106, 26, .05);
//}
//
//.silver{
//  background: linear-gradient(45deg,  rgba(160,160,160,1) 0%,rgba(232,232,232,1) 56%);
//}
//
//.silver:before{
//  background: linear-gradient(45deg,  rgba(181,181,181,1) 0%,rgba(252,252,252,1) 56%,rgba(232,232,232,1) 96%);
//  border: 1px solid rgba(181,181,181,1);
//}
//
//
//.silver:after{
//  background: linear-gradient(45deg,  rgba(181,181,181,1) 0%,rgba(252,252,252,1) 56%,rgba(232,232,232,1) 96%);
//  border-top: 1px solid rgba(255,255,255,0.3);
//  border-left: 1px solid rgba(255,255,255,0.3);
//  border-bottom: 1px solid rgba(160,160,160,0.3);
//  border-right: 1px solid rgba(160,160,160,0.5);
//  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
//}
//
//.silver:hover:after{
//  background: linear-gradient(45deg,  rgba(181,181,181,1) 0%,rgba(252,252,252,1) 38%,rgba(232,232,232,1) 96%);
//  border-top: 1px solid rgba(255,255,255,0.3);
//  border-left: 1px solid rgba(255,255,255,0.3);
//  border-bottom: 1px solid rgba(160,160,160,0.3);
//  border-right: 1px solid rgba(160,160,160,0.5);
//  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
//}
//
//.gold{
//  background: linear-gradient(45deg,  rgba(242,215,12,1) 0%,rgba(255,255,255,1) 56%,rgba(252,235,0,1) 96%);
//}
//
//.gold:before{
//  background: linear-gradient(45deg,  rgba(242,215,12,1) 0%,rgba(255,255,255,1) 56%,rgba(252,235,0,1) 96%);
//  border: 1px solid rgba(242,215,12,1);
//}
//
//
//.gold:after{
//  background: linear-gradient(45deg,  rgba(242,215,12,1) 0%,rgba(255,255,255,1) 56%,rgba(252,235,0,1) 96%);
//  border-top: 1px solid rgba(255,255,255,0.3);
//  border-left: 1px solid rgba(255,255,255,0.3);
//  border-bottom: 1px solid rgba(242,215,12,0.3);
//  border-right: 1px solid rgba(242,215,12,0.3);
//  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
//}
//
//.gold:hover:after{
//  background: linear-gradient(45deg,  rgba(242,215,12,1) 3%,rgba(255,255,255,1) 39%,rgba(252,235,0,1) 100%);
//  border-top: 1px solid rgba(255,255,255,0.3);
//  border-left: 1px solid rgba(255,255,255,0.3);
//  border-bottom: 1px solid rgba(242,215,12,0.3);
//  border-right: 1px solid rgba(242,215,12,0.3);
//  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
//}



