@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.loginRegisterSection {
    position: relative;
    min-height: 100vh;
    background-color: #005A9C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    //overflow-y: hidden;
}

.phopixel-title {
    color: dodgerblue;
    font-weight: bold; /* Makes the font thicker */
    text-shadow:
        1px 1px 0 grey,
        2px 2px 0 grey,
        3px 3px 0 grey,
        4px 4px 0 grey,
        5px 5px 0 grey; /* Multiple shadows for a thicker 3D effect */
}

/* Ensure the label is displayed inline with the checkbox */
.form-check-label {
    display: inline;
}

.loginRegisterSection .formContainer {
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.loginRegisterSection .formContainer .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.loginRegisterSection .formContainer .user .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: #000000;
    transition: 0.5s;
}

.loginRegisterSection .formContainer .user .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loginRegisterSection .formContainer .user .formBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}

.loginRegisterSection .user .formBx form h2 {
    font-size: 18px;
    font-weight: 600;
    //text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}

.loginRegisterSection .user .formBx
form
input.login-email-input,
input.login-password-input,
input.name-input,
input.register-email-input,
input.register-password-input,
input.password-confirm-input  {
    position: relative;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}

.loginRegisterSection .user .formBx input[type='submit'] {
    max-width: 100px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}

.loginRegisterSection .user .formBx form .signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    //text-transform: uppercase;
    font-weight: 300;
}

.loginRegisterSection .user .formBx form .signup a {
    font-weight: 600;
    text-decoration: none;
    color: #677eff;
}

.loginRegisterSection .signupBx {
    pointer-events: none;
}

.loginRegisterSection .active .signupBx {
    pointer-events: initial;
}

.loginRegisterSection .signupBx .formBx {
    left: 100%;
}

.loginRegisterSection .active .signupBx .formBx {
    left: 0;
}

.loginRegisterSection .signupBx .imgBx {
    left: -100%;
}

.loginRegisterSection .active .signupBx .imgBx {
    left: 0%;
}

.loginRegisterSection .signinBx .formBx {
    left: 0%;
}

.loginRegisterSection .active .signinBx .formBx {
    left: 100%;
}

.loginRegisterSection .signinBx .imgBx {
    left: 0%;
}

.loginRegisterSection .active .signinBx .imgBx {
    left: -100%;
}

@media (max-width: 991px) {
    .loginRegisterSection .formContainer {
        max-width: 400px;
    }

    .loginRegisterSection .formContainer .imgBx {
        display: none;
    }

    .loginRegisterSection .formContainer .user .formBx {
        width: 100%;
    }
}

@keyframes body {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
