//html, body {
//    margin: 0;
//    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
//    scroll-behavior: smooth;
//    -webkit-font-smoothing: antialiased;
//    background: royalblue;
//}

.middle-of-screen {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.images-sec-wrap {
    width: 100%;
    min-height: 100vh;
}

.center-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phopixel-card {
    border: 0;
    margin: 16px;
    width: 30rem;
}

.phopixel-card-title {
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

.phopixel-card-profile-paragraph {
    display: flex;
    margin-bottom: 1.25em;
}

.phopixel-card-profile-title {
    align-self: center;
    margin-left: 1em;
}

.phopixel-card-text {
    font-family: Roboto Condensed, sans-serif;
    font-size: 1em;
}

.phopixel-profile-image {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background-color: #FFFFE5;
}

.phopixel-card-image {
    margin: 0;
    padding: 0;
}

.phopixel-card-body { }

.phopixel-separator {
    color: #1e90ff;
}

.images-sec {
    width: 85%;
    margin: 3em auto;
    text-align: left;
}

.images-sec-middle {
    grid-template-columns: repeat(5,1fr);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    padding: 20px 0;
}

.thumb-wrap {
    display: inline;
    cursor: pointer;
}

.thumb {
    display: block;
    margin: .4em;
    width: 100%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    opacity: 1;
    transition: all .2s ease-in-out;
}

.thumb:hover {
    opacity: .8;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
}

.thumb-info {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: .4em;
}

.thumb-title {
    color: #000000;
    margin: 0;
    font-size: 1.2em;
}

.thumb-user {
    color: #7e7e7e;
    display: block;
    margin: 0;
    font-size: .9em;
}

.thumb-text {
    color: #000000;
    display: inline-block;
    margin: 0;
    font-size: .8em;
}

@media only screen and (max-width: 1456px) {
    .images-sec-middle {
        grid-template-columns: repeat(4,1fr);
    }
}

@media only screen and (max-width: 1024px) {
    .images-sec-middle {
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (max-width: 756px) {
    .images-sec-middle {
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width: 496px) {
    .images-sec-middle {
        grid-template-columns: repeat(1,1fr);
    }
}
