.image-battles-grid-container {
    padding-top: 20%;
}

.minimize-icon {
    float: right;
}

.the-bottom {
    position: absolute;
    bottom: 0 !important;
}

.flashEffect {
    animation: flashAnimation 1s;
}

@keyframes flashAnimation {
    from {
        opacity: 0.5;
        transform: scale(1.2);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
